<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page Not Found</h1>
</body>
</html>
var childelem1 = document.createElement("span");
childelem1.style.display="flex";
// childelem1.style.textAlign="center"
childelem1.style.fontSize="1vw"


const p1=document.createElement("p")

p1.append(document.createTextNode(obj.sellingprice + "-" + obj.fooditems + "-" + obj.items))
childelem1.appendChild(p1)
childelem1.appendChild(deletebtn1)
childelem1.appendChild(deletebtn2)
parentelement1.appendChild(childelem1)
console.log(parentelement1)